body{
    background-color: antiquewhite;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: italic;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    color: palevioletred;
}
h1{
    font-family: 'Cormorant Garamond', serif;
    color: plum
}